/* Clearfix 1 */
.about-img {
    float: left;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 50%;
    box-shadow: inset 5px 4px 9px 2px rgba(51, 51, 51, 0.192);
    padding: 0.5rem;
    cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAaCAMAAADhRa4NAAAAnFBMVEUAAAD/////gID/QID/M2b/K1XfQGDjOVXbJFXYJ1jbJFfbJFXXIlXXJFXYJFfWI1XXIlbWIlTXIlXXIlbXIlXXI1TWIVXXIVTXIVbYIlbWIlTWIVXXIVTXIVXWIlTXIVXXIVTWIlXWIlXXIlXXIlXXIVTWIVTWIVXXIlXXIVTWIVXXIlXXIlTWIVXXIVXXIVXWIlXXIVXXIVTWIVRPqBsLAAAAM3RSTlMAAQIEBQYICRUaIyotOU9RWWp4gIGFipGSlZeiqrG2uLm7yczZ3eDn6+zt8fL09vf6/f6BeCKOAAAAxUlEQVQYGX3BiRaBUBQF0KOIIhEyFRIZMp///zcpq/Wi7t74sCbR5Rb7fQ0Zre/Ht0s0sZDTvQdzURepbsTcw9ORaq1ZOFiAdWBh3QIwp2Jvmnsq5kDvRVWSUPXqYUHRAjuKdrhSdEVCUYItRVu4FLnonCk4d4ABBQOkPNby8KH5rOFryDRXrLRq4qsdskLYRsHY8M/GgMII+CMwUKIvWbLU8aMxo2LawL8RCyNUGj6ZeQ5Rw7kzdXdQyz6RRxsCczw2UfIGQMZtHdWqctsAAAAASUVORK5CYII=") 16 13, auto !important;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard syntax */
    -webkit-user-drag: none; /* Safari */
    -khtml-user-drag: none; /* Konqueror */
    -moz-user-drag: none; /* Firefox */
    -o-user-drag: none; /* Opera */
  }
  
  .aboutme-h4 {
    margin-bottom: 10px;
    text-align: center;
  }
  
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Clearfix 2 */
  .about-img2 {
    float: right;
    border-radius: 50%;
    box-shadow: inset 5px 4px 9px 2px rgba(51, 51, 51, 0.192);
    padding: 0.5rem;
    cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAaCAMAAADhRa4NAAAAnFBMVEUAAAD/////gID/QID/M2b/K1XfQGDjOVXbJFXYJ1jbJFfbJFXXIlXXJFXYJFfWI1XXIlbWIlTXIlXXIlbXIlXXI1TWIVXXIVTXIVbYIlbWIlTWIVXXIVTXIVXWIlTXIVXXIVTWIlXWIlXXIlXXIlXXIVTWIVTWIVXXIlXXIVTWIVXXIlXXIlTWIVXXIVXXIVXWIlXXIVXXIVTWIVRPqBsLAAAAM3RSTlMAAQIEBQYICRUaIyotOU9RWWp4gIGFipGSlZeiqrG2uLm7yczZ3eDn6+zt8fL09vf6/f6BeCKOAAAAxUlEQVQYGX3BiRaBUBQF0KOIIhEyFRIZMp///zcpq/Wi7t74sCbR5Rb7fQ0Zre/Ht0s0sZDTvQdzURepbsTcw9ORaq1ZOFiAdWBh3QIwp2Jvmnsq5kDvRVWSUPXqYUHRAjuKdrhSdEVCUYItRVu4FLnonCk4d4ABBQOkPNby8KH5rOFryDRXrLRq4qsdskLYRsHY8M/GgMII+CMwUKIvWbLU8aMxo2LawL8RCyNUGj6ZeQ5Rw7kzdXdQyz6RRxsCczw2UfIGQMZtHdWqctsAAAAASUVORK5CYII=") 16 13, auto !important;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard syntax */
    -webkit-user-drag: none; /* Safari */
    -khtml-user-drag: none; /* Konqueror */
    -moz-user-drag: none; /* Firefox */
    -o-user-drag: none; /* Opera */
  }
  
  .clearfix2::after {
    content: "";
    display: table;
    clear: both;
  }
  
  #about h4 {
    margin: auto;
    margin-bottom: 10px;
  }
  
  @media screen and (max-width: 389px) {
    .about-img {
      float: none;
      margin-right: auto;
      margin-bottom: 10px;
    }
    
    .about-img2 {
      float: none;
      margin-left: auto;
      margin-bottom: 10px;
    }
  }
  