/* Clearfix 1 */
.about-img {
    float: left;
    margin-right: 20px;
    margin-top: 10px;
}

.aboutme-h4 {
    margin-bottom: 10px;
    text-align: center;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Clearfix 2 */
.about-img2 {
    float: right;
}

.clearfix2::after {
    content: "";
    clear: both;
    display: table;
}

#about h4 {
    margin: auto;
    margin-bottom: 10px;
}