.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.filterDiv {
  background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  border-radius: 0.5rem;
  padding: 0;
  color: var(--bg-color);
  width: 300px;
  height: 215px;
  line-height: 100px;
  text-align: center;
  margin: 0;
  display: none; /* Hidden by default */
}

.filterDiv a img{
  transform: scale(1.2);
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
#myBtnContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px !important;
  border-radius: 0.5rem;
  box-shadow: inset 5px 4px 9px 2px rgba(51, 51, 51, 0.192);
  padding: 0.25rem;
  width: fit-content;
  margin: auto;
}

.filter-btn {
  color: var(--text-color);
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f4f4f4;
  border-radius: 0.5rem;
  box-shadow: 5px 4px 9px 2px rgba(51, 51, 51, 0.192);
  cursor: pointer;
  margin: 0.25rem;
  flex-grow: 1;
  max-width: 150px;
}

@media screen and (min-width: 768px) {
  #myBtnContainer {
    max-width: 600px;
  }
}

.filter-btn.filter-btn:hover {
  color: var(--bg-color);
  background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  box-shadow: inset 5px 4px 9px 2px rgba(51, 51, 51, 0.192);

}

/* Project Image */
.project-image-container {
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.project-image-container:hover .image {
  opacity: 0.3;
}

.project-image-container:hover .middle {
  opacity: 1;
}

.text {
  display: inline-flex;
  background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  color: var(--bg-color);
  font-size: 10px;
  line-height: 10px;
  padding: 0;
  padding-top:0;
  padding-bottom:0;
  text-align: center;
}
