.accordion {
    display: flex;
    height: 100vh;
  }
  
  .accordion-header {
    background-color: #ddd;
    border-right: 1px solid #ccc;
    cursor: pointer;
    padding: 10px;
    width: 200px;
    text-align: center;
  }
  
  .accordion-body {
    border-left: 1px solid #ccc;
    padding: 10px;
    display: none;
    overflow-y: auto;
    flex-grow: 1;
  }
  
  .accordion-header.active {
    background-color: #ccc;
  }
  
  .accordion-header:hover {
    background-color: #ddd;
  }
  
  .accordion-header.active + .accordion-body {
    display: block;
  }