.collapsible {
  background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  color: var(--bg-color);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none; /* removes black border around all sides */
  border-bottom: 1px solid var(--bg-color);
  text-align: left;
  outline: none;
  font-size: 16px;
  font-weight: 600; /* increase the years importance */
}

/* .content{
  border-left: 100px solid var(--bg-color) ;
  border-right: 100px solid var(--bg-color) ;
} */

.active, .collapsible:hover {
  background-color: var(--secondary-color);
}

.content {
  padding: 0 18px;
  display: none;
  text-align: center;
  overflow: hidden;
  background-color: var(--bg-color);
}