.section-title{
    margin-bottom: 0px;
}

.skills-section {
    padding-top: 0px;
}

.skills-header:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 4px;
    background-color: var(--primary-color);
    border-radius: 2px;
}

.skills-container {
    display: grid;
    grid-tempLate-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1rem;
    padding: 1rem 80px;
    padding-top: 0px;
    font-size: 1.2rem;
}

.skills-box {
    padding: 1rem;
    color: var(--text-color);
    cursor: pointer;
}

/* .skills-box:hover>.skills-title: after,
.skills-box:hover>.skills-title: before {
    width: 30px;
} */

.skills-box:hover .skills-img {
    /* transform: translateX(-20px); */
    transform: scale(0.9);
    transition: 1.5s;
}

.skills-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}

/* .skills-title:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 20px;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: var(--primary-color);
    transition: .5s;
}

.skills-title:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100px;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color: var(--secondary-color);
} */

.skills-icons {
    width: 50px;
    z-index: 2;
}

.skills-img {
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 45px;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.skills-img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* width: 50%; */
    height: 90px;
    /* background: #64646480; */
    background: var(--bg-color);
    border-radius: 50%;
    /* border-radius: 45px 0 0 45px; */
    box-shadow: 5px 4px 9px 2px rgba(0, 0, 0, 0.1);
}

.skills-box .skills-img:hover{
    box-shadow: -12px 12px 20px 2px rgba(0, 0, 0, 0.325) inset;
}

.skills-title h4 {
    color: var(--text-color);
    margin-top: 20px;
}

@media screen and (max-width:990px) {
    .skills-container {
        grid-tempLate-columns: repeat(2, 1fr);
        padding: 2rem 50px;
    }
}

@media screen and (max-width:650px) {
    .skills-container {
        grid-tempLate-columns: 2fr;
        padding: 2rem 50px;
    }
}

/* Star rating */
.checked {
    color: var(--primary-color);
}

span{
    font-size: 12px;
}

@media screen and (max-width: 767px) {
    .skills-section{
        overflow-y: scroll;
        overflow-x: hidden;
        height: 50vh;
        box-shadow: 5px 4px 9px 2px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        width: 265px;
        margin: auto;
    }
    .section-title{
        margin-bottom: 20px;
    }
}